<div *ngIf="isLoading">Loading...</div>

<div *ngIf="!data.success">
    <h1>{{data.message}}</h1>
</div>

<div class="movie-section" *ngIf="data">
    <div class="title">
        <h2>{{mainTitle}}</h2>
    </div>
    <div class="images_container">
        <ng-container *ngFor="let movie of data.results">
            <app-movie-card [data]="movie"></app-movie-card>
        </ng-container>
    </div>
</div>
