<div class="detail_container">
    <div class="detail_toolbar">
        <div class="detail_toolbar_grup">
            <mat-icon (click)="handleBack()" aria-hidden="false" aria-label="arrow_back" fontIcon="arrow_back"
                class="icon_btn"></mat-icon>
            <mat-icon aria-hidden="false" aria-label="share" fontIcon="share" class="icon_btn"></mat-icon>
        </div>
    </div>
    <div class="detail_cover">
        <img class="img_size" [src]="'https://image.tmdb.org/t/p/w600_and_h900_bestv2' + detailMovie.poster_path"
            [alt]="detailMovie.title">
    </div>
    <div class="movie_detail_container">
        <div class="movie_detail_inner">
            <div class="detail_heading">
                <p class="movie_title">{{detailMovie.title}}</p>
                <ul>
                    <li *ngFor="let g of detailMovie.genres">{{g.name}}</li>
                </ul>
                <div>{{detailMovie.release_date}}</div>
                <p>{{detailMovie.runtime}}</p>
                <p>{{detailMovie.vote_average.toFixed(1)}}</p>
            </div>

            <div class="detail_section">
                <h3 class="title_detail">Description</h3>
                <div>{{detailMovie.overview}}</div>
            </div>


            

            <div class="detail_section">
                <h3 class="title_detail">Cast</h3>
                <div class="actor_casting">
                    <ng-container *ngFor="let cast of creditMovie.cast">
                        <app-movie-actor [data]="cast"></app-movie-actor>
                    </ng-container>
                </div>
            </div>

            <mat-tab-group class="mantul" mat-stretch-tabs="true" mat-align-tabs="start">
                <mat-tab label="First">
                    <pre>{{similarMovie | json}}</pre>
                </mat-tab>
                <mat-tab label="Second">
                    <pre>{{recomendedMovie | json}}</pre>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>