.detail_container{
    position: relative;
    height: 95vh;
}
.detail_cover{
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.detail_cover img{
    width: 100%;
    object-fit: cover;
}

.detail_toolbar{
    position: absolute;
    top: 0;
    width: 100%;
}

.detail_toolbar_grup{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.detail_toolbar_grup .icon_btn{
    background-color: #2D2C3C;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
}

.detail_section{
    padding: 20px 0;
}

.movie_detail_container{
    width: 100%;
    background-color: #0B091C;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    height: 60%;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    overflow-y: scroll;
}

.movie_detail_inner{
    padding: 20px;
}

.movie_title{
    text-align: center;
    font-size: 28px;
    padding: 0;
    max-width: 320px;
    margin: auto;
    line-height: 1.5;
}

.actor_casting{
    display: flex;
    flex-wrap: nowrap;
    gap:16px;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
}

.title_detail{
    font-size: 20px;
}

.mantul .mat-mdc-tab-labels {
    color: #ffffff;
    background-color: aqua;
  }