<div *ngIf="isLoading">Loading...</div>

<div *ngIf="!data.success">
    <h1>{{data.message}}</h1>
</div>


<div class="movie-section" *ngIf="data">
    <div class="title">
        <div class="back_icon" routerLink="/home">
            <mat-icon aria-hidden="false" aria-label="rating" fontIcon="arrow_back" class="icon_color"></mat-icon>
        </div>
        <h2>{{mainTitle}}</h2>
    </div>
    <div class="images_container">
        <ng-container *ngFor="let movie of data.results">
            <app-movie-card [data]="movie" (click)="getDetailMovie(movie)"></app-movie-card>
        </ng-container>
    </div>
</div>
