.images_container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.title{
    display: flex;
    align-items: center;
    gap: 20px;
}

.title h2{
    font-size: 28px;
    margin: 0;
}
.back_icon{
    padding: 4px 12px;
    background-color: #2D2C3C;
    align-items: center;
    display: flex;
    border-radius: 4px;
    cursor: pointer;
}
