<div *ngIf="isLoading">Loading</div>

<div class="movie-section" *ngIf="allMovies">
    <app-title-movie [title]="mainTitle.rated"/>
    <div class="images_container">
        <ng-container *ngFor="let movie of allMovies.data[1].results">
            <app-movie-card [data]="movie" (click)="getDetailMovie(movie)"></app-movie-card>
        </ng-container>
    </div>
</div>

<div class="movie-section" *ngIf="allMovies">
    <app-title-movie [title]="mainTitle.popular"/>
    <div class="images_container">
        <ng-container *ngFor="let movie of allMovies.data[0].results">
            <app-movie-card [data]="movie" (click)="getDetailMovie(movie)"></app-movie-card>
        </ng-container>
    </div>
</div>

<div class="movie-section" *ngIf="allMovies">
    <app-title-movie [title]="mainTitle.upcoming"/>
    <div class="images_container">
        <ng-container *ngFor="let movie of allMovies.data[2].results">
            <app-movie-card [data]="movie" (click)="getDetailMovie(movie)"></app-movie-card>
        </ng-container>
    </div>
</div>