.title_container{
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    margin-bottom: 16px;
    color: #ffffff;
}

.title-caption{
    font-size: 28px;
    margin: 0;
    padding: 0;
}

.title-all{
    font-size: 20px;
    cursor: pointer;
}