<div class="search_container">
  <input
    type="text"
    placeholder="What are you watching today"
    [(ngModel)]="searchValue"
    (input)="onSearch($event)"
  />
  <div class="search_icon" routerLink="/home">
    <mat-icon
      aria-hidden="false"
      aria-label="rating"
      fontIcon="search"
      class="icon_color"
    ></mat-icon>
  </div>
</div>

<div *ngIf="isLoading">Loading...</div>
<div *ngIf="data.total_results === 0 && searchValue">Pencarian Tidak Ditemukan</div>

<div class="movie-section" *ngIf="data.length !== 0 && data.total_results !== 0">
  <div class="title">
    <h2>{{ mainTitle }}</h2>
  </div>
  <div class="images_container">
    <ng-container *ngFor="let movie of data.results">
      <app-movie-card [data]="movie" (click)="getDetailMovie(movie)"></app-movie-card>
    </ng-container>
  </div>
</div>