.search_container{
    display: flex;
    position: relative;
}
.search_container input{
    flex-grow: 1;
    background-color: #1C1A2E;
    padding: 8px 12px;
    margin: 0;
    border: none;
    border-radius: 4px;
    color: #ffffff;
}

.search_container input::placeholder {
    color: #dedede;
  }

.search_container .search_icon{
    position: absolute;
    right: 8px;
    top: 4px;
}

.images_container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}