.fixed-toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #0B091C;
}

.menu-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: #64556A;
}

.menu-item span{
  font-size: 12px;
}

.menu-active{
  color: #ffffff;
}