<mat-toolbar class="fixed-toolbar" color="primary">
  <div routerLink="/home" class="menu-item" routerLinkActive="menu-active">
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    <span>Home</span>
  </div>
  <div routerLink="/search" class="menu-item" routerLinkActive="menu-active">
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example search icon">search</mat-icon>
    <span>Search</span>
  </div>
  <div routerLink="/favorite" class="menu-item" routerLinkActive="menu-active">
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example bookmark icon">bookmark</mat-icon>
    <span>Bookmark</span>
  </div>
</mat-toolbar>