.img_container{
    background-color: #0B091C;
    color: #ffffff;
}

.img_size{
    width: 280px;
    height: auto;
}

.icon_color{
    color: #FFB73A;
}

.img_title{
    width: 80%;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 20px;
    font-size: 18px;
}

.img_rating_container{
    display: flex;
    justify-content: space-between;
}

.img_rating{
    background-color: #2D2C3C;
    display: flex;
    border-radius: 4px;
    padding: 2px 8px;
    justify-content: space-between;
    align-items: center;
}

.img_rating span{
    margin-left: 8px;
}