<mat-card class="img_container">
  <mat-card-content>
    <img class="img_size" mat-card-image [src]="'https://image.tmdb.org/t/p/w600_and_h900_bestv2' + data.poster_path" [alt]="data.title">
  </mat-card-content>

  <mat-card-content class="img_title" [matTooltip]="data.title">{{ data.title }}</mat-card-content>

  <mat-card-content class="img_rating_container">
   <div class="img_rating">
    <mat-icon aria-hidden="false" aria-label="rating" fontIcon="star" class="icon_color"></mat-icon>
    <span>{{ data.vote_average.toFixed(1) }}</span>
   </div>
   <div class="img_rilis">{{data.release_date}}</div>
  </mat-card-content>
</mat-card>