<button-ripple>BELI PULSA gan</button-ripple>
<signal-button type="button" class="mb-5" variant="primary" secondaryText="HELLO" onclick="myFunction()">BELI PULSA GAN</signal-button>
<signal-button variant="secondary">BELI PULSA</signal-button>
<signal-button variant="text">BELI PULSA</signal-button>
<signal-button-socmed variant="apple" onclick="myFunction()"></signal-button-socmed>
<signal-button-socmed variant="facebook"></signal-button-socmed>
<signal-button-socmed variant="google"></signal-button-socmed>
<signal-button-socmed variant="twitter"></signal-button-socmed>
<signal-button-floating badge="20"></signal-button-floating>
<signal-button-icon variant="primary"></signal-button-icon>
<signal-button-icon variant="secondary" icon="https://www.pngall.com/wp-content/uploads/5/Red-Shopping-Cart-PNG-Picture.png"></signal-button-icon>
<signal-checkbox>Hey, this is checkbox label</signal-checkbox>
<signal-radio>Hey, this is radio label</signal-radio>
<signal-toggle></signal-toggle>
<signal-badge variant="primary">99+</signal-badge>
<signal-language-selector country="ID" flagIcon="indonesia" chevron></signal-language-selector>
<signal-breadcrumb crumbs='[{"title": "Home", "route": "/"}, {"title": "Category", "route": "/category"},  {"title": "Portfolio", "route": "/portfolio"}, {"title": "Profile", "route": "/profile"}, {"title": "Education", "route": "/education"}, {"title": "Address", "route": "/address"}]'></signal-breadcrumb>
<signal-banner variant="rectangle-sm" image="https://www.telkomsel.com/sites/default/files/box_media/left/desktop/Desk-LP-MenangByk-800x450-min.jpg" onclick="myFunction()"/>
<div class="mantul">
    <!-- <signal-textfield label="Username" placeholder="Masukkan username anda" (change)="handleInputVal($event)"></signal-textfield> -->
    <signal-textfield label="Username" placeholder="Masukkan username anda" (onMantulInput)="mantap($event)" (input)="mantulgan($event)"></signal-textfield>
    <!-- <simple-text-input value="Nilai Awal" (onvaluechanged)="mantap($event)">></simple-text-input> -->
    <p>{{nama}}</p>
</div>