/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #0B091C; color:#ffffff;}
body, p { margin: 0;padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
