<div class="actor_container" *ngIf="data.profile_path">
    <div class="img_actor">
        <img mat-card-image [src]="'https://image.tmdb.org/t/p/w600_and_h900_bestv2' + data.profile_path" [alt]="data.character">
    </div>
    <div>
        <p class="actor_job">{{data.known_for_department}}</p>
        <p class="actor_name">{{data.name}}</p>
    </div>
</div>


