.actor_container {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    align-items: center;
    gap: 12px;
}
.actor_container p{
    margin: 0;
    padding: 0;
}

.img_actor {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.img_actor img {
    width: 100%;
    height: auto;
}

.actor_container .actor_job{
    color: #8FACB3;
}